<% include ../partials/header %>

     <% users.forEach(function(user){ %>
          <%if(!user.isManager){%>
           <div class="row">
                  <a href="/calendar/<%=user._id%>/settime"><%= user.username %></a>
          </div>
          <%}%>
     <% }) %>

<% include ../partials/footer %>