<% include ../partials/header %>

     <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Set Employees Working Date</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                     
                    <ul class="messages">
                      <% users.forEach(function(user){ %>
                        <%if(!user.isManager){%>
                          <li>
                            <img src="/images/img.jpg" class="avatar" alt="Avatar">
                            <div class="message_wrapper">
                              <h4 class="heading">Username : <a href="/calendar/<%=user._id%>/settime"><%= user.username %></a></h4>
                              <blockquote class="message">Employees Name : <%=user.realname%> <br>Employees Job : <%=user.jobtitle%> </blockquote>
                              <br />
                            </div>
                          </li>
                          <br>
                        <%}%>
                      <% }) %>
                    </ul> 
                    
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

<% include ../partials/footer %>