<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BUMA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <link href='/stylesheets/fullcalendar.min.css' rel='stylesheet' />
    <link href='/stylesheets/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/scripts/moment.min.js'></script>
    <script src='/scripts/jquery.min.js'></script>
    <script src='/scripts/fullcalendar.min.js'></script>
    
    <script src="https://rawgit.com/Eonasdan/bootstrap-datetimepicker/development/src/js/bootstrap-datetimepicker.js" ></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css">
      
  
    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">

  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-suitcase"></i> <span>BUMA</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%=currentUser.username%></h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->
          
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <%if(currentUser.isManager){%>
                    <li><a href="/calendar/dashboardhome"><i class="fa fa-home"></i> Home </a></li>
                    <li><a href="/calendar/emlist"><i class="fa fa-calendar"></i> Set Working Date </a></li>
                    <li><a href="/calendar/setactivity"><i class="fa fa-coffee"></i> Set Activities Date </a></li>
                    <li><a href="/calendar/emcalendar"><i class="fa fa-desktop"></i> View Employees Calendars</a></li>
                    <li><a href="/calendar/activity"><i class="fa fa-desktop"></i> View Activity</a></li>
                    <li><a href="/calendar/managerdayoff"><i class="fa fa-plane"></i> View Dayoff Request</a></li>
                    <li><a href="/register"><i class="fa fa-user-plus"></i> Create User </a></li>
                    <%}%>
                 

                </ul>
              </div>
              
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/img.jpg" alt=""><%=currentUser.username%>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span>Settings</span>
                      </a>
                    </li>
                    
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
      

<script>
	
	$(function () {
           
            $('#startdate,#enddate').datetimepicker({
                useCurrent: false,
                minDate: moment()
            });
            $('#startdate').datetimepicker().on('dp.change', function (e) {
                var incrementDay = moment(new Date(e.date));
                incrementDay.add(1, 'hours');
                $('#enddate').data('DateTimePicker').minDate(incrementDay);
               <!--$(this).data("DateTimePicker").hide();-->
            });

            $('#enddate').datetimepicker().on('dp.change', function (e) {
                var decrementDay = moment(new Date(e.date));
                decrementDay.subtract(1, 'hours');
                $('#startdate').data('DateTimePicker').maxDate(decrementDay);
                 <!--$(this).data("DateTimePicker").hide();-->
            });

        });
    
</script>


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Date Picker</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Set  <i class="fa fa-user" aria-hidden="true"></i> <%=user.username%> Working Date</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      
                    <form action="/calendar/<%=user._id%>/settime" method="POST">
                        
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="title">Title</label>
                                        </div>
                                        <!--<div class="col-sm-5">-->
                                        <!--  <input class="form-control" type="text" name="calendar[title]" placeholder="title">-->
                                        <!--</div>-->
                                        <div class="col-sm-5">
                                            <div class="input-group date" id="title">
                                                <input type="text" name = "calendar[title]" placeholder="" class="form-control" />
                                            <span class="input-group-addon">
                                                    <span class="glyphicon-book glyphicon"></span>
                                                </span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="startdate">StartDate</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="input-group date" id="startdate">
                                                <input type="text" name = "calendar[start]" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon-calendar glyphicon"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label for="enddate">EndDate</label>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="input-group date" id="enddate">
                                                <input type="text" name = "calendar[end]" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon-calendar glyphicon"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <button class="btn btn-success ">Submit</button>
                               
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
            
            
    </div>
    <!-- LeftSlider Script-->
     <script src="/scripts/leftSlider.js" async defer></script>
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  

      <!-- footer content -->
        <footer>
          <div class="pull-right">
            &copy; BUMA 2017</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>
  </body>
</html>