<% include ./partials/header %>

   <header class="jumbotron">
         <div class="container">
             <h1>Welcome Project BUMA</h1>
             <p>Manage your employees working calendar online !!</p>
 
         </div>
     </header>

<% include ./partials/footer %>